
a {
	color: white;
}

body {
	font-family: arial;
	padding: 20px;
	background: slategray;
}

h1 {
	background: none;
	color: black;
	font-size: 40px;
	margin-top: 0px;
}

p {
	color: black;
	padding: 25px;
	}

header .logo a {
	background-image: url("AfroAfrica.jpg");
	display: inline-block;
	height: 90px;
	position: relative;
	text-indent: -999999px;
	top: -30px;
	width: 80px;
}

li {
	padding-bottom: 8px;
}

a:active {
	color: white;

}

a:link {
	text-decoration: none;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.steps {
	padding-left: 60px;
	width: 1100px;
}


 #box-container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  	align-items: center;
}

 .books {
	border: solid lightgray 7px;
	width: 300px;
	height: 400px;
}

 .aboutme {
 	width: 800px;
 	height: 100%;
 	text-align: justify;
 	line-height: 1.6;
 	font-size: 18px;
 	margin: 30px;
 }

img.pagesixphoto {
	float: left;
	margin-right: 30px;
	border: solid 7px #3F92BF;
	height: 200px;
	width: auto;
}

/*div {
	background: purple;
}*/
