
a {
	color: white;
}

body {
	font-family: arial;
	padding: 20px;
	background: slategray;
}

h1 {
	background: none;
	color: black;
	font-size: 40px;
	margin-top: 0px;
}

p {
	color: black;
	padding: 25px;
	}

.logo {
	background-image: url("AfroAfrica.jpg");
	display: inline-block;
	height: 90px;
	position: relative;
	text-indent: -999999px;
	top: -30px;
	width: 80px;
}

a:active {
	color: white;

}

a:link {
	text-decoration: none;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

